@{
    ViewBag.Title = "Available Products";
}

<div>
    My name is : @Model.MyName
    <br /><br />
    @foreach (var product in @Model.Products)
    {
        <div>@product.Id</div>
        <div>@product.Name</div>
        <div>@product.Price</div>
        <div>@product.Stars</div>
        <div><img src="@product.Image" width="100" /></div>
        <br />
    }
</div>
